*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color: #eff5fe;
   display: grid;
   align-items: center;
}
nav {
    max-width: 1440px;
    margin:1rem auto;
    padding:0 2rem;
    /* background-color: yellow; */
}

nav div img{
    width:70px;
}

section.content{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:4rem;
}

section.content .drop_box_wrapper{
   background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 20px 20px #0000002e;
}

section.content .dropbox{
   max-width:1000px;
     min-height:200px;
     border:2px dashed #0288d147;
     margin:3rem;
     border-radius: 10px;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     padding: 3rem;
     transition:all .3s ease-in-out;
}

section.content .dropbox .icons {
    width:75px;
    height:100px;
    position: relative;
}

section.content .dropbox .icons i{
    position: absolute;
    font-size: 60px;
    color:#3384e1;
    transition:all .3s ease-in-out;
}

section.content .dropbox .icons i.center{
    z-index: 2;
}

section.content .dropbox .icons i.left,section.content .dropbox .icons i.right{
    filter: grayscale(1);
    font-size:50px;
    opacity: 0;
}

section.content .dropbox.dragged{
    background-color:#eff5fe;
    border-color: #2196f3;
}

section.content .dropbox.dragged .icons i.center {
  transform: translateY(-6px);
}

section.content .dropbox.dragged .icons i.left {
    transform: rotate(-7deg) translate(-35px,5px);
    transform-origin: bottom;
    opacity:1;
}

section.content .dropbox.dragged .icons i.right {
    transform: rotate(7deg) translate(50px,5px);
    transform-origin: bottom;
    opacity:1;
}

section.content .dropbox #fileopener{
    display: none;;
}

section.content .drop_box_wrapper .info{
    font-size: 20px;
}

section.content .drop_box_wrapper .info .file_selector{
    color:rgba(22, 136, 243, 1);
    cursor: pointer;
}


footer.end{
    margin-top:3rem;
    text-align: center;
    font-size: 14px;
}